@import 'vars';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer + $headerHeight + 36;
    overflow-x: hidden;
    .footer {
      width: 100%;
      height: $height-footer;
    }
  }

  .body-container {
    left: 0;
    position: relative;
    height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    & .alert {
      & .fa {
        position: absolute;
        right: 0;
        top: 0;
        cursor: hand;
        padding: 4px;
        font-size: 20px;
      }
    }

    & .content-area {
      min-height: 100%;
    }
  }

  .parent-container {
    .overlay {
      opacity: 1;
    }

    .modal {

      display: block;
      background-color: rgba(0, 0, 0, 0.4);

      button {
        &:focus {
          outline: none;
        }
        span {
          cursor: hand;
        }
      }
    }
    .modal-dialog {
      margin: 60px auto;
    }
  }

  .body-container.body-displaced {
    left: -50%;
  }

  .sortable {
    cursor: pointer;
  }

  .btn {
    cursor: pointer;
  }
}

.chart:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  left: 34px;
  background: $blue;
  border-radius: 3px 0 0 3px;
  margin-top: 4px;
}

.up:after {
  content: "";
  background: none;
  width: 11px;
  height: 26px;
  border-left: 4px solid $blue;
  border-bottom: 4px solid $blue;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 24px;
  bottom: 9px;
}

.down:after {
  content: "";
  width: 11px;
  height: 24px;
  border-left: 4px solid $blue;
  border-top: 4px solid $blue;
  border-top-left-radius: 8px;
  position: absolute;
  left: 24px;
  top: 10px;
}


.line:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 4px;
  left: 12px;
  top: 34px;
  background: $blue;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 764px;
  }
}