@import 'vars';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

html {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer + $headerHeight + 36;
    overflow-x: hidden;
    .footer {
      width: 100%;
      height: $height-footer;
    }
  }

  .body-container {
    left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    & .alert {
      & .fas {
        position: absolute;
        right: 0;
        top: 0;
        cursor: hand;
        padding: 4px;
        font-size: 20px;
      }
    }

    & .content-area {
      min-height: 100%;
    }

    form {
      border: 1px solid $greyDark;
      padding: 20px;
      border-radius: 4px;
    }
  }

  .parent-container {
    .overlay {
      opacity: 1;
    }

    .modal {

      display: block;
      background-color: rgba(0, 0, 0, 0.4);

      button {
        &:focus {
          outline: none;
        }
        span {
          cursor: hand;
        }
      }
    }
    .modal-dialog {
      margin: 60px auto;
    }
  }

  .sortable {
    cursor: pointer;
  }

  .btn {
    cursor: pointer;
  }
}

.chart:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  left: 34px;
  background: $greyDark;
  border-radius: 3px 0 0 3px;
  margin-top: 4px;
}

.up:after {
  content: "";
  background: none;
  width: 11px;
  height: 26px;
  border-left: 4px solid $greyDark;
  border-bottom: 4px solid $greyDark;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 24px;
  bottom: 9px;
}

.down:after {
  content: "";
  width: 11px;
  height: 24px;
  border-left: 4px solid $greyDark;
  border-top: 4px solid $greyDark;
  border-top-left-radius: 8px;
  position: absolute;
  left: 24px;
  top: 10px;
}

.loading-button {
  position: relative;
  cursor: progress!important;
  &:before {
    content: "\F110";
    position: absolute;
    font: normal normal normal 25px Font Awesome\ 5 Free;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    -webkit-animation: a 2s infinite linear;
    animation: a 2s infinite linear;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}


.line:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  left: 11px;
  top: 34px;
  background: $greyDark;
}

.warning-prompt {
  i {
    color: $warning;
    margin: 0 4px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 764px;
  }
}

.checkbox-wrapper {

  cursor: pointer;

  .checkbox {
    padding: 2px 10px;
    position: relative;
    background: #EEE;
    border: 1px solid #DDD;

    &:active {
      top: 2px;
    }

    &:hover {
      background: #DDD;
    }

    &:after {
      opacity: 0.2;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 7px;
      left: 6px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;

      transform: rotate(-45deg);
    }
  }

  .ticked {
    &:after {
      opacity: 1;
    }
  }

  .checkbox-label {
    margin-left: 10px;
  }
}

.fa-ban,
.fa-user-edit,
.fa-trash,
.fa-edit {
  font-size: 28px;
  position: absolute;
  margin-top: -4px;

  &:hover {
    opacity: 0.8;
  }
}

.fa-user-edit,
.fa-trash,
.fa-edit {
  cursor: hand;
}

table {
  th {
    .fas {
      cursor: pointer;
      font-size: 24px;
    }
  }
}

.first-load-spinner {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $theme;

  #continuous-spinner {
    top: calc(100% - 70%);
  }
}

.body-container.body-displaced {
  width: 80%;
}
