@import "vars";

#header {
  color: $semiWhite;
  font-size: 20px;
  height: $headerHeight;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 40px 0 rgba(82,63,105,0.1);
  box-shadow: 0 0 40px 0 rgba(82,63,105,0.1);
  .logo {
    color: #ffffff;
    line-height: inherit;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    img {
      height: 100%;
    }
  }

  .dropdown-menu {
    width: 120%;
    float:none;
    border: $fontMenus solid 1px;
    position: absolute;
    padding: 0;
    left: -40px;
    display: none;
    top: $topMenu - 4px;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 269px;
    overflow: scroll;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li:first-child {
        a {
          border-top: none;
          border-radius: 4px 4px 0 0;
        }
      }
      li:last-child a {
          border-radius: 0 0 4px 4px;
      }
      li {
        a.read {
          background-color: $semiWhite;
          color: $blue;
        }
        a {
          &:hover {
            opacity: 0.9;
          }
          border-top: 1px solid $borderColor;
          background-color: $blue;
          padding: 10px 8px;
          display: block;
          color: $semiWhite;
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

    }
  }
  .dropdown-menu-display {
    display: block;
  }

  .inner {
    position: relative;
    z-index: 99;
    background-color: $theme;
    padding: 40px;

    ul.super-menu {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      > li {
        display: inline-block;
        vertical-align: top;
      }

      .user-icon {
        margin: 15px 8px;

        .user-pic {
          background-color: $semiWhite;
          border-radius: 50%;
          color: $black;
          padding: 10px 12px;
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          height: 50px;
          width: 48px;
          &:hover {
            opacity: 0.8;
          }

          > span {
            position: absolute;
          }

        }
      }

      .navPanelToggle {
        position: relative;
        margin: 6px 10px;
      }
    }

    .menu-grid {
      font-size: 46px;
      cursor: pointer;
      padding: 6px;
      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  #banner {
    padding-top: 100px;
    height: $bannerHeight;
    background-image: url(/images/workbook.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    color: #fff;
  }
}

.notification-bubble {
  position: relative;

  > span {
    position: absolute;
    bottom: 40px;
    left: 24px;
    font-size: 14px;
    background: $darkBlue;
    padding: 0 4px;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
