@import "vars";

#header {
  color: #d4e0ef;
  font-size: 20px;
  font-weight: 600;
  height: $headerHeight;
  .logo {
    color: #ffffff;
    font-weight: 600;
    line-height: inherit;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    img {
      height: 100%;
    }
  }

  .inner {

    ul.super-menu {
      position: absolute;
      top: 0;
      right: 0;
      list-style: none;
      width: 10%;
      padding: 0;
      li {
        display: inline-block;
      }

      .user-icon {
        margin: 14px;
        border-radius: 50%;
        color: $fontMenus;
        background-color: #FFF;
        padding: 10px;
        cursor: pointer;

        .user-menu {
          background-color: $blue;
          top: $topMenu;
          padding: 16px;
          border: $fontMenus solid 1px;
          color: $fontMenus;
          position: absolute;
          display: none;
          a {
            color: $fontMenus;
            text-decoration: none;
            &:hover {
              color: #FFFFFF;
            }
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

          }
        }
        .user-menu-display {
          display: block;
        }

      }

      #navPanelToggle {
        position: relative;
      }
    }

    position: relative;
    z-index: 99;
    background-color: $theme;
    padding: 40px;

    .fa-bars {
      right: 0;
      top: 0;
      font-size: 36px;
      position: absolute;
      padding: 22px;
      cursor: hand;
      &:hover {
        background-color: $themeDark;
      }
    }
  }

  #banner {
    padding-top: 95px;
    height: $bannerHeight;
    background-image: url("/images/workbook.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;
  }
}
