@import "vars";

#header {
  color: #d4e0ef;
  font-size: 20px;
  font-weight: 600;
  height: $headerHeight;
  .logo {
    color: #ffffff;
    font-weight: 600;
    line-height: inherit;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    img {
      height: 100%;
    }
  }

  .inner {
    position: relative;
    z-index: 99;
    background-color: $theme;
    padding: 40px;

    .fa-bars {
      right: 0;
      top: 0;
      font-size: 36px;
      position: absolute;
      padding: 22px;
      cursor: hand;
      &:hover {
        background-color: $themeDark;
      }
    }
  }

  #banner {
    padding-top: 95px;
    height: 220px;
    background-image: url("/images/workbook.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: #fff;
  }
}