@import "vars";
.mobile-menu {
  margin-right: -20%;
  position: absolute;
  background: $blue;
  height: 100%;
  width: 20%;
  right: 0;
  z-index: 10000;
  text-align: right;
  font-size: 25px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  a {
    color: #fff;
  }
  .fas {
    cursor: pointer;
    float: right;
    padding: 20px;
    font-size: 40px;
    &:hover {
      opacity: 0.5;
    }
  }
  #mobile-nav {
    text-align: left;
    clear: both;
    a {
      display: block;
      padding: 10px;
      border-top: solid 1px rgba(255, 255, 255, 0.25);
    }

    .active {
      background-color: $darkBlue;
      text-decoration: underline;
    }
  }
}

.mobile-menu.slide {
  margin-right: 0;
}
