@import "../vars";

.qr-section {
  text-align: center;
}

.expense-scan-wrapper {
  .widget-child > div {
    text-align: center;
  }

  .scan-user {
    margin: 10px auto;
  }

  .scan-button-wrapper {
    margin: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;

    & input[type=file] {
      height: 50px;
      width: 162px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }

    button {
      border: 2px solid $clearBlue;
      color: $clearBlue;
      background-color: $grey;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;

      span {
        margin-right: 10px;
      }

    }
  }
}

.receipt-full, .receipts {
  text-align: center;

  > div {
    position: relative;
    margin: 10px;

    ul {
      height: 50px;
      position: relative;
      width: 165px;
      margin: auto;
      padding: 0;
      list-style: none;

      li {
        top: 0;
        font-size: 34px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;

        :hover {
          opacity: 0.6;
        }
      }
    }
  }
  img.receipt-scan {
    height: 100px;
    cursor: pointer;
  }
  .img-processing {
    img, span, svg {
      cursor: wait;
    }
  }
}

.receipt-full {
  img {
    width: 100%;
  }
}
