@import "../vars";

.qr-section {
  text-align: center;
}

.scan-user {
  margin: 10px auto;
}

.scan-button-wrapper {
  margin: auto;
  position: relative;
  overflow: hidden;
  display: inline-block;

  & input[type=file] {
    height: 50px;
    width: 162px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  button {
    border: 2px solid $clearBlue;
    color: $clearBlue;
    background-color: $grey;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;

    span {
      margin-right: 10px;
    }

  }
}

.receipt-full, .receipts {
  text-align: center;

  > div {
    position: relative;
    margin: 10px;

    div {
      height: 40px;
      position: relative;
      width: 120px;
      margin: auto;

      span {
        position: absolute;
        top: 0;
        font-size: 28px;
        cursor: pointer;

        :hover {
          opacity: 0.6;
        }
      }

      span:first-child {
        left: 0;
      }

      span:nth-child(2) {
        right: 0;
      }
    }
  }
  img.receipt-scan {
    height: 100px;
    cursor: pointer;
  }
  .img-processing {
    img, span, svg {
      cursor: wait;
    }
  }
}
