@import "../vars";

.receipt-wrapper {
  position: relative;

  #continuous-spinner {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 175px;
    z-index: 5;
  }

  .receipt {
    margin-bottom: 20px;
    position: relative;
    background-color: #FFFFFF;
    padding: 6px;

    .header, h5 {
      text-align: center;
    }

    .divider {
      border-bottom: 1px dashed $clearBlue;
      margin: 6px 0;
    }

    .print-button {
      right: 5px;
    }

    .email-button {
      right: 50px;
    }

    table {
      margin-top: 12px;
    }

  }
}

#printing {

  .receipt {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
